* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box; }

a {
  text-decoration: none; }

.logo {
  width: 100%;
  height: 0.65rem;
  background: #1c1c1e; }
  .logo .nav {
    width: 65%;
    height: 0.65rem;
    margin: 0 auto; }
    .logo .nav a {
      width: 1.1rem;
      height: 0.65rem;
      float: left;
      font-size: 0.1rem;
      text-align: center;
      line-height: 0.65rem;
      color: #727271; }
      .logo .nav a:hover {
        color: #cba303;
        border-bottom: 0.05rem solid #cba303; }
    .logo .nav a:nth-child(1) {
      color: #cba303;
      margin: 0 0.54rem; }
    .logo .nav a:nth-child(6) {
      width: 3rem;
      margin-left: 0.54rem; }

.nav-foot {
  width: 100%;
  height: 0.4rem;
  background: #3c3a3b; }
  .nav-foot p {
    width: 100%;
    padding: 0 2.2rem;
    height: 0.4rem;
    line-height: 0.4rem;
    font-size: 0.1rem;
    text-align: right;
    color: #545351; }
    .nav-foot p span {
      color: #cba303; }

.con-fluid {
  width: 100%; }
  .con-fluid .con-article {
    width: 70%;
    margin: 0 auto;
    overflow: hidden; }
    .con-fluid .con-article > p {
      width: 100%;
      margin: 0.5rem 0; }
    .con-fluid .con-article .item {
      width: 100%;
      height: 2.4rem;
      border-top: 1px solid #939393;
      border-bottom: 1px solid #939393;
      position: relative; }
      .con-fluid .con-article .item > img {
        position: absolute;
        bottom: 0.2rem;
        right: 0.2rem; }
      .con-fluid .con-article .item > input {
        float: left;
        margin-top: 1.1rem;
        margin-right: 0.2rem; }
      .con-fluid .con-article .item .imgs {
        float: left;
        width: 1.96rem;
        height: 1.86rem;
        background: #8c8c8c;
        text-align: center;
        margin-top: 0.23rem;
        line-height: 1.86rem; }
        .con-fluid .con-article .item .imgs img {
          height: 80%; }
      .con-fluid .con-article .item .items {
        float: left;
        width: 1.6rem;
        font-size: 0.1rem;
        margin: 0 0.2rem; }
        .con-fluid .con-article .item .items p {
          margin-bottom: 0.1rem; }
        .con-fluid .con-article .item .items .btn-group button {
          height: 30px; }
        .con-fluid .con-article .item .items .btn-group input {
          width: 40px;
          height: 30px; }
    .con-fluid .con-article .con-foot {
      width: 100%; }
      .con-fluid .con-article .con-foot > p {
        width: 100%;
        padding: 0.1rem 0.4rem;
        margin: 0; }
        .con-fluid .con-article .con-foot > p > span:nth-child(2) {
          float: right; }
    .con-fluid .con-article .fluid {
      width: 100%; }
      .con-fluid .con-article .fluid .col-md-6 input {
        position: relative;
        width: 100%;
        height: 0.4rem;
        background: #e5e5e5;
        border: none;
        padding: 0.1rem; }
      .con-fluid .con-article .fluid .col-md-6 img {
        position: absolute;
        right: 0.25rem;
        top: 0.1rem;
        width: 0.15rem; }
      .con-fluid .con-article .fluid .col-md-12 {
        margin: 0.2rem 0; }
        .con-fluid .con-article .fluid .col-md-12 input {
          position: relative;
          width: 100%;
          height: 0.4rem;
          background: #e5e5e5;
          border: none;
          padding: 0.1rem; }
        .con-fluid .con-article .fluid .col-md-12 img {
          position: absolute;
          right: 0.25rem;
          top: 0.15rem;
          width: 0.15rem; }
        .con-fluid .con-article .fluid .col-md-12 textarea {
          width: 100%;
          height: 1.8rem;
          background: #e5e5e5;
          border: none;
          padding: 0.1rem; }
        .con-fluid .con-article .fluid .col-md-12 button {
          float: right;
          margin-right: 0.1rem; }

.footer {
  position: relative;
  text-align: center;
  width: 100%;
  height: 0.8rem;
  background: #3c3a3b;
  line-height: 0.8rem;
  color: #55555;
  margin-top: 0.5rem; }

/*# sourceMappingURL=LM110.css.map */
