@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box; }

body, html {
  width: 100%; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

.clear {
  clear: both; }

.header {
  width: 100%;
  background: #1C1C1e;
  height: 0.76rem;
  line-height: 0.76rem; }
  .header ul {
    width: 100%; }
    .header ul li {
      float: left;
      color: #727271;
      font-size: 0.11rem;
      font-family: "微软简中圆";
      position: relative; }
      .header ul li a {
        color: #727271; }
      .header ul li div {
        width: 80%;
        border: 2px solid #F1C40F;
        position: absolute;
        bottom: 0.1rem;
        display: none; }
    .header ul li:hover {
      cursor: pointer; }
    .header ul .aa {
      margin-left: 4.80rem;
      font-family: "黑体"; }
    .header ul .bb {
      margin-left: 1.19rem;
      font-size: 12px;
      font-family: "微软简中圆"; }
    .header ul .cc {
      margin-left: 0.72rem; }
    .header ul .dd {
      margin-left: 0.72rem; }
    .header ul .ee {
      margin-left: 0.72rem; }
    .header ul .ff {
      margin-left: 1.08rem; }

.tot {
  width: 100%;
  height: 0.4rem;
  background: #3C3A3B;
  line-height: 0.4rem;
  margin-top: 0.001rem; }
  .tot .p {
    font-size: 0.14rem;
    color: #575757;
    float: right;
    margin-right: 3.53rem; }
    .tot .p span {
      color: #F1C40F; }

.cont {
  width: 70%;
  margin: 0.2rem auto; }
  .cont .sele1 {
    float: left;
    margin-right: 0.07rem; }
    .cont .sele1 .sp-sele {
      font-size: 0.14rem;
      font-weight: 600;
      margin-right: 0.05rem; }
  .cont .sele2 {
    float: left;
    margin-left: 0.3rem; }
    .cont .sele2 .sp-sele {
      font-size: 0.14rem;
      font-weight: 600;
      margin-right: 0.05rem; }
  .cont .sou {
    float: right;
    margin-left: 0.25rem;
    width: 2rem;
    border: 1px solid;
    border-radius: 0.2rem;
    line-height: 0.3rem;
    height: 0.35rem;
    margin-top: 0.02rem; }
    .cont .sou div:first-child {
      float: left;
      padding-left: 0.1rem;
      margin-right: 0.2rem; }
    .cont .sou div:last-child {
      float: left; }
  .cont .bg {
    width: 100%;
    margin-top: 0.2rem; }
    .cont .bg .table {
      width: 100%; }
      .cont .bg .table .tiao {
        width: 100%;
        height: 0.5rem;
        background: #f5d449;
        line-height: 0.5rem; }
        .cont .bg .table .tiao td {
          margin-left: 0.545rem;
          margin-right: 0.6rem;
          font-size: 0.15rem; }
          .cont .bg .table .tiao td input {
            padding: 1rem; }
  .cont .prev {
    width: 60%;
    text-align: center;
    margin: 0.5rem auto; }
    .cont .prev ul {
      width: 100%; }
      .cont .prev ul li {
        float: left;
        margin-right: 0.1rem; }

.foot {
  clear: both;
  width: 100%;
  height: 0.88rem;
  line-height: 0.88rem;
  text-align: center;
  background-color: #1C1C1E;
  color: #727271;
  margin-top: 0.83rem;
  font-size: 0.13rem; }

.logo {
  width: 100%;
  height: 0.65rem;
  background: #1c1c1e; }
  .logo .nav {
    width: 65%;
    height: 0.65rem;
    margin: 0 auto; }
    .logo .nav a {
      width: 1.1rem;
      height: 0.65rem;
      float: left;
      font-size: 0.1rem;
      text-align: center;
      line-height: 0.65rem;
      color: #727271; }
      .logo .nav a:hover {
        color: #cba303; }
    .logo .nav a:nth-child(1) {
      color: #cba303;
      margin: 0 0.54rem; }
    .logo .nav a:nth-child(6) {
      width: 3rem;
      margin-left: 0.54rem; }

.oUl {
  width: 100%;
  margin: auto;
  margin-bottom: 0.5rem; }
  .oUl li {
    height: 0.5rem;
    line-height: 0.5rem;
    color: #5e5b5b; }
    .oUl li span {
      display: inline-block;
      width: 50%; }
    .oUl li big {
      display: inline-block;
      width: 50%; }

/*# sourceMappingURL=XGouWu.css.map */
